<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ev.greenh">

	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application
		android:name=".GreenApp"
		android:allowBackup="true"
		android:icon="@drawable/app_icon1"
		android:label="@string/app_name"
		android:roundIcon="@drawable/app_icon1"
		android:supportsRtl="true"
		android:theme="@style/Theme.GreenH">
		<activity
			android:name=".admin.AdminActivity"
			android:exported="false" />
		<activity
			android:name=".shop.ShopActivity"
			android:exported="false" />

		<profileable
			android:enabled="true"
			android:shell="true" /> <!-- <service -->
		<!-- android:name=".services.FirebaseNotify" -->
		<!-- android:exported="false" -->
		<!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
		<!-- <intent-filter> -->
		<!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
		<!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
		<!-- </intent-filter> -->
		<!-- </service> -->
		<receiver
			android:name="com.razorpay.RzpTokenReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="rzp.device_token.share" />
			</intent-filter>
		</receiver>

		<activity android:name="androidx.activity.ComponentActivity" />
		<activity
			android:name="com.razorpay.CheckoutActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:theme="@style/CheckoutTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<data
					android:host="rzp.io"
					android:scheme="io.rzp" />
			</intent-filter>
		</activity>
		<activity
			android:name=".launcher.LauncherActivity"
			android:exported="true"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.MainActivity"
			android:exported="true"
			android:screenOrientation="portrait" />
	</application>

</manifest>